

.menu-bar {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
}

.menu-button {
  position: relative;
  width: 28%;
  left: 15px;
  cursor: pointer;
}

.menu-notify {
  position: relative;
  width: 8%;
}

.chatbomb-body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  position: relative;
  top: 5px;
}

.page-body {

}

.friends-list {

}

.name-plate {

}

.friend-avatar {

}

.friend-email {

}

.friend-name {

}

.new-message {

}

.view-profile {

}

.edit-profile {

}

.send-requests {

}

.view-requests {

}

.request-plate {

}

.chat-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chat-header {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-name {
  position: relative;
  width: 20%;
}

.header-timer {
  position: relative;
  width: 10%;
}

.header-buttons {
  position: relative;
  width: 70%;
}

.chat-body {
  position: relative;
  width: 100%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.live-chat {
  position: relative;
  width: 100%;
  height: 7.5%;
}

.chat-send {
  position: relative;
  width: 100%;
  height: 7.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.send-box {
  position: relative;
  width: 80%;
}

.send-btn {
  position: relative;
  width: 20%;
}
